<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(orders.length > 0) { %>
            <ul class="orders">
                <% orders.forEach(order => { %>
                    <li class="orders__item">
                        <%= order._id %>
                        <ul class="orders__products">
                            <% order.items.forEach(item => { %>
                                <li class="orders__products-item">
                                    <%= item.title %> (<%= item.quantity %>)
                                </li>
                            <% }) %>
                        </ul>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <h1>Nothing there!</h1>
        <% } %>
    </main>

<%- include('../includes/end.ejs') %>